argh==0.26.2
async-generator==1.10
atomicwrites==1.4.0

backcall==0.2.0
backports.entry-points-selectable==1.1.1
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bkcharts==0.2
boto==2.49.0
brotlipy==0.7.0
defusedxml==0.6.0
Django==3.2.9
django-cors-headers==3.10.0
django-rest-framework==0.1.0
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
Pillow
platformdirs==2.4.0
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
psycopg2-binary==2.9.2
ptyprocess==0.6.0
pycodestyle==2.6.0
pycosat==0.6.3
PyJWT==2.3.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-louvain==0.15
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2

requests

Send2Trash==1.5.0
simplegeneric==0.8.1
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1

tables==3.6.1

terminado==0.9.1
testpath==0.4.4

tifffile==2020.10.1
tornado==6.0.4

unicodecsv==0.14.1
urllib3
virtualenv==20.10.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0


